.main .unbc1{
	width: 100%;
	height: 460px;
	background: url(./understand-zaozuo-img/unbc1.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc2{
	width: 100%;
	height: 800px;
	background: url(./understand-zaozuo-img/unbc2.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc3{
	width: 100%;
	height: 1400px;
	background: url(./understand-zaozuo-img/unbc3.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc4{
	width: 100%;
	height: 1200px;
	background: url(./understand-zaozuo-img/unbc4.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc5{
	width: 100%;
	height: 1200px;
	background: url(./understand-zaozuo-img/unbc5.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc6{
	width: 100%;
	height: 1200px;
	background: url(./understand-zaozuo-img/unbc6.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc7{
	width: 100%;
	height: 600px;
	background: url(./understand-zaozuo-img/unbc7.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc8{
	width: 100%;
	height: 700px;
	background: url(./understand-zaozuo-img/unbc8.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc9{
	width: 100%;
	height: 600px;
	background: url(./understand-zaozuo-img/unbc9.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc10{
	width: 100%;
	height: 600px;
	background: url(./understand-zaozuo-img/unbc10.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc11{
	width: 100%;
	height: 600px;
	background: url(./understand-zaozuo-img/unbc11.jpg) no-repeat center center;
	background-size: contain;
}
.main .unbc12{
	width: 100%;
	height: 600px;
	background: url(./understand-zaozuo-img/unbc12.jpg) no-repeat center center;
	background-size: contain;
}